extends layout

block head
  script(type='text/javascript', src='/javascripts/ckeditor/ckeditor.js')
  script(type='text/javascript', src='/javascripts/ckeditor/adapters/jquery.js')
block content
  h1= title
  form.pure-form.pure-form-stacked(method="post")
    fieldset
      div.pure-control-group
        label(for="articleSlug") Slug
        if article
          input.long-input(type="text", name="articleSlug", id="editSlug", value=article.slug)
        else
          input.long-input(type="text", name="articleSlug", id="editSlug")
      div.pure-control-group.long-input
        label(for="title") Title
        if article
          input.long-input(type="text", name="title", id="editArticleTitle", value=article.title)
        else
          input.long-input(type="text", name="title", id="editArticleTitle")
      div.pure-control-group
        label(for="body")
          | Body
          br
          button.pure-button.pure-button-primary.small-button(type="button" id="editorBodyButton") Editor
        textarea(name="body", rows=20, cols=100, id="editArticleBody")
          if article
            !=article.body
      div.pure-control-group
        label(for="excerpt")
          | Excerpt
          br
          button.pure-button.pure-button-primary.small-button(type="button" id="editorExcerptButton") Editor
        textarea(name="excerpt", rows=20, cols=100, id="editArticleExcerpt")
          if article
            !=article.excerpt
      div.pure-controls
        label.pure-checkbox(for="published")
          if article
            input(type="checkbox", name="published", id="published", checked=article.isPublished)
          else
            input(type="checkbox", name="published")
          = " Published"
        label.pure-checkbox(for="allowComments")
          if article
            input(type="checkbox", name="allowComments", id="allowComments", checked=article.allowComments)
          else
            input(type="checkbox", name="allowComments")
          = " Allow Comments"
        label.pure-checkbox(for="showComments")
          if article
            input(type="checkbox", name="showComments", id="showComments", checked=article.showComments)
          else
            input(type="checkbox", name="showComments")
          = " Show Comments"
        button.pure-button.pure-button-primary(type="submit") Submit
  script.
    $(document).ready(function() {
      $('#editorBodyButton').click(function(event) {
        $('textarea#editArticleBody').ckeditor().on('instanceReady.ckeditor', function(event, editor) {
          editor.resize('100%', '800');
        });
      });
      $('#editorExcerptButton').click(function(event) {
        $('textarea#editArticleExcerpt').ckeditor();
      });
    });