extends layout

block head
  mixin ace
block content
  div#blog
    h1= title
    form#new-post.pure-form.pure-form-stacked(method="post")
      fieldset
        if article
          input(type="hidden", name="body", id="hiddenBody", value=article.body)
          input(type="hidden", name="excerpt", id="hiddenExcerpt", value=article.excerpt)
        else
          input(type="hidden", name="body", id="hiddenBody")
          input(type="hidden", name="excerpt", id="hiddenExcerpt")
        div.pure-control-group
          label(for="articleSlug") Slug
          if article
            input.long-input(type="text", name="articleSlug", id="editSlug", value=article.slug)
          else
            input.long-input(type="text", name="articleSlug", id="editSlug")
        div.pure-control-group.long-input
          label(for="title") Title
          if article
            input.long-input(type="text", name="title", id="editArticleTitle", value=article.title)
          else
            input.long-input(type="text", name="title", id="editArticleTitle")
        div.pure-control-group
          label(for="created") Created At
          if article
            input.long-input(type="datetime", name="created", id="created", value=article.created_at)
          else
            input.long-input(type="datetime", name="created", id="created")
        div.pure-control-group
          label(for="body") Body
          div#articleBodyEditor.big-editor.editable(contenteditable=true)
            if article
              =article.body
            else
              | Enter text to edit.
        div.pure-control-group
          label(for="excerpt") Excerpt
          div#articleExcerptEditor.small-editor.editable(contenteditable=true)
            if article
              =article.excerpt
            else
              | Enter text to edit.
        div.pure-controls
          label.pure-checkbox(for="published")
            if article
              input(type="checkbox", name="published", id="published", checked=article.isPublished)
            else
              input(type="checkbox", name="published", id="published")
            | Published
          label.pure-checkbox(for="allowComments")
            if article
              input(type="checkbox", name="allowComments", id="allowComments", checked=article.allowComments)
            else
              input(type="checkbox", name="allowComments", id="allowComments")
            | Allow Comments
          label.pure-checkbox(for="showComments")
            if article
              input(type="checkbox", name="showComments", id="showComments", checked=article.showComments)
            else
              input(type="checkbox", name="showComments", id="showComments")
            | Show Comments
          button#preview.pure-button.pure-button-primary.space-right(type="button") Preview
          button#submit-button.pure-button.pure-button-primary(type="submit") Submit
  script.
    window.onload = function() {
      var editorBody = ace.edit("articleBodyEditor");
      editorBody.setTheme("ace/theme/monokai");
      editorBody.getSession().setMode("ace/mode/html");
      editorBody.setShowPrintMargin(false);

      var editorExcerpt = ace.edit("articleExcerptEditor");
      editorExcerpt.setTheme("ace/theme/monokai");
      editorExcerpt.getSession().setMode("ace/mode/html");
      editorExcerpt.setShowPrintMargin(false);

      var form = document.getElementById('new-post');

      function updateFields() {
        document.getElementById('hiddenBody').value = editorBody.getValue();
        document.getElementById('hiddenExcerpt').value = editorExcerpt.getValue();
      }

      form.onsubmit = function() {
        updateFields();
      };

      document.getElementById('submit-button').addEventListener('click', function(event) {
        form.setAttribute('action', '');
        form.setAttribute('target', '_self');
      });

      document.getElementById('preview').addEventListener('click', function(event) {
        form.setAttribute('action', '/blog/preview');
        form.setAttribute('target', '_blank');
        updateFields();
        form.submit();
      });
    }