mixin showHeader(item)
  div.menu-header
    a(href='#' + item.label)
      h3= item.label
    if item.description
      p= item.description
  != '<div class="menu-list">'
  != '<ul>'

mixin showItem(item)
  if item.link
    li
      a(href=item.link)= item.label
      if item.description
        p= item.description
    
div#site-title
  h2
    a(href='/') Exploring Lines
div.menu-tabs
  if menuItems
    //- Split the menu into sections with the first item being the header.
    - var sections = []
    - var index = 0
    - var firstIndex = true
    each item in menuItems
      if !user && item.isAdmin
        - continue
      if !firstIndex && !item.link
        - index++
      - firstIndex = false

      if !sections[index]
        - sections[index] = []
      - sections[index].push(item)
    //- Create the menu labels.
    each section in sections
      if section[0]
        div(class= 'menu-header' + ' col-' + sections.length)
          a(href='#' id='tab-menu-' + section[0].label.toLowerCase() class='menu-tab')
            div.menu-header-inner
              h3= section[0].label
              if section[0].description
                p= section[0].description
    div.clearfix
//- Create the menu items.
div#menu-sections
  each section in sections
    if section[0]
      table(id= 'menu-' + section[0].label.toLowerCase() class='menu-section')
        tr
          th.menu-item-name Name
          th.menu-item-description Description
        each item in section
          if item.link
            tr
             td.menu-item-name
               a(href=item.link)=item.label
             td.menu-item-description
               span=item.description
